mixin another-select()
    .another-select
        ul.select__tab-list.swiper(data-slider="tab-list") 
            .select__slider-list.swiper-wrapper 
                li.select__tab-content.swiper-slide
                    a(href="#!")
                        .select__card-top 
                            p.select__card-top-text.orange Хит
                            p.select__card-top-text.aqua Гарантии
                            p.select__card-top-text.purple Бестселлер
                        .select__slider.swiper(data-slider="select")
                            .swiper-wrapper 
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select1.png" alt="Фото видов продукции" width="170" height="156")
                            .swiper-pagination.select__pagination
                        p.select__tab-text Телеприставка Apple TV 4K (3-го поколения), 64Gb (MN873)
                        .select__prices
                            p.select__new-price 92 999 ₽
                            p.select__old-price 24 990 ₽
                        .select__info 
                            p.select__have В наличии
                            p.select__articul Арт.: DK1003OL
                li.select__tab-content.swiper-slide 
                    a(href="#!")
                        .select__card-top 
                            p.select__card-top-text.orange Хит
                            p.select__card-top-text.green Новинка
                            p.select__card-top-text.aqua Гарантии
                        .select__slider.swiper(data-slider="select")
                            .swiper-wrapper 
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                            .swiper-pagination.select__pagination
                        p.select__tab-text Телеприставка Apple TV 4K (3-го поколения), 64Gb (MN873)
                        .select__prices
                            p.select__new-price 92 999 ₽
                            p.select__old-price 24 990 ₽
                        .select__info 
                            p.select__have.not Нет в наличии
                            p.select__articul Арт.: DK1003OL
                li.select__tab-content.swiper-slide
                    a(href="#!")
                        .select__card-top 
                            p.select__card-top-text.orange Хит
                            p.select__card-top-text.purple Бестселлер
                        .select__slider.swiper(data-slider="select")
                            .swiper-wrapper 
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select2.png" alt="Фото видов продукции" width="170" height="156")
                            .swiper-pagination.select__pagination
                        p.select__tab-text Телеприставка Apple TV 4K (3-го поколения), 64Gb (MN873)
                        .select__prices
                            p.select__new-price 92 999 ₽
                            p.select__old-price 24 990 ₽
                        .select__info 
                            p.select__have В наличии
                            p.select__articul Арт.: DK1003OL
                li.select__tab-content.swiper-slide 
                    a(href="#!")
                        .select__card-top 
                            p.select__card-top-text.orange Хит
                            p.select__card-top-text.purple Бестселлер
                        .select__slider.swiper(data-slider="select")
                            .swiper-wrapper 
                                .select__slide.swiper-slide 
                                    img(src="img/content/select8.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select3.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select8.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select3.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select5.png" alt="Фото видов продукции" width="170" height="156")
                                .select__slide.swiper-slide 
                                    img(src="img/content/select3.png" alt="Фото видов продукции" width="170" height="156")
                            .swiper-pagination.select__pagination
                        p.select__tab-text Телеприставка Apple TV 4K (3-го поколения), 64Gb (MN873)
                        .select__prices
                            p.select__new-price 92 999 ₽
                            p.select__old-price 24 990 ₽
                        .select__info 
                            p.select__have В наличии
                            p.select__articul Арт.: DK1003OL
            .swiper-pagination.tab-pagination