mixin blog()
    section.blog 
        .container 
            .blog__wrapper
                .blog__top
                    h2.blog__title Блог
                    .blog__links 
                        a(href="#!").blog__link Подписаться
                            +icon('blog', 13, 13)
                        a(href="#!").blog__link.all Все статьи
                .blog__slider.swiper(data-slider="blog")
                    .swiper-wrapper 
                        .swiper-slide.blog__big 
                            .blog__image
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 6 февраля
                                    p.blog__look 146
                                        +icon('eyes', 14, 10)
                        .swiper-slide.blog__small 
                            .blog__image 
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 17 июля
                                    p.blog__look 1220 просмотров
                        .swiper-slide.blog__small 
                            .blog__image 
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 17 июля
                                    p.blog__look 1220 просмотров
                        .swiper-slide.blog__big 
                            .blog__image
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 6 февраля
                                    p.blog__look 146
                                        +icon('eyes', 14, 10)
                        .swiper-slide.blog__small 
                            .blog__image 
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 17 июля
                                    p.blog__look 1220 просмотров
                        .swiper-slide.blog__small 
                            .blog__image 
                                img(src="img/content/blog1.png" alt="блог")
                            .blog__info 
                                a(href="#!").blog__new Новости
                                p.blog__text Что подарить парню, супругу или отцу на гендерные праздники в 2025 году
                                .blog__dop 
                                    p.blog__date 17 июля
                                    p.blog__look 1220 просмотров
                .blog__buttons 
                    .swiper-button-next.blog__next
                        +icon('arrow-left', 120, 120) 
                    .swiper-button-prev.blog__prev
                        +icon('arrow-left', 120, 120)