mixin game()
    section.game 
        .container 
            .game__wrapper 
                .game__box 
                    a(href="#").game__item 
                        .game__image 
                            img(src="img/content/game1.png" alt="Игровые товары")
                        p.game__text Игровые консоли
                    a(href="#").game__item 
                        .game__image 
                            img(src="img/content/game2.png" alt="Игровые товары")
                        p.game__text Геймпады
                    a(href="#").game__item 
                        .game__image 
                            img(src="img/content/game3.png" alt="Игровые товары")
                        p.game__text Игровые приставки
                    a(href="#").game__item 
                        .game__image 
                            img(src="img/content/game4.png" alt="Игровые товары")
                        p.game__text Игры для PS5
                    a(href="#").game__item 
                        .game__image 
                            img(src="img/content/game5.png" alt="Игровые товары")
                        p.game__text Игровая консоль <br>Asus ROG Ally
                a(href="#!").select1__all Смотреть весь каталог