mixin home2()
    section.home2 
        .container 
            .home2__wrapper 
                .home2__box 
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h1.png" alt="Игровые товары")
                        p.home2__text Беспроводные <br>пылесосы 
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h2.png" alt="Игровые товары")
                        p.home2__text Стайлер <br>для волос
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h3.png" alt="Игровые товары")
                        p.home2__text Фен <br>для волос
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h4.png" alt="Игровые товары")
                        p.home2__text Очистители <br>воздуха
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h5.png" alt="Игровые товары")
                        p.home2__text Аксессуары <br>для Dyson
                    a(href="#").home2__item 
                        .home2__image 
                            img(src="img/content/h6.png" alt="Игровые товары")
                        p.home2__text Весь каталог