mixin intro()
    section.intro 
        .container 
            .intro__wrapper 
                .intro__banner 
                    img(src="img/content/intro-banner.webp" alt="Фон для Интро" width="1158" heigth="340")
                    img(src="img/content/intro-mobile.webp" alt="Фон для Интро" width="288" heigth="400")
                    .intro__info
                        h1.intro__title Создан для того, чтобы его любили 
                        p.intro__text iPhone 16
                        a(href="#!").intro__link Перейти к покупке
                +banners-block()