mixin models()
    section.models 
        .container 
            .models__wrapper 
                ul.models__list.swiper(data-slider="models")
                    .swiper-wrapper
                        li.models__item.swiper-slide 
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals11.png" alt="Модель товара" width="80" height="80")
                                    p iPhone
                        li.models__item.swiper-slide  
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals12.png" alt="Модель товара" width="80" height="80")
                                    p Samsung
                        li.models__item.swiper-slide  
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals13.png" alt="Модель товара" width="80" height="80")
                                    p iPad
                        li.models__item.swiper-slide  
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals14.png" alt="Модель товара" width="80" height="80")
                                    p Mac
                        li.models__item.swiper-slide  
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals15.png" alt="Модель товара" width="80" height="80")
                                    p Apple Watch
                        li.models__item.swiper-slide  
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals16.png" alt="Модель товара" width="80" height="80")
                                    p AirPods
                        li.models__item.swiper-slide 
                            a(href="#!")
                                .models__bg 
                                    img(src="img/content/bg-modals.png" alt="Задний фон")
                                    .models__content
                                        img(src="img/content/modals17.png" alt="Модель товара" width="80" height="80")
                                    p Dyson