mixin reviews()
    section.reviews 
        .container 
            .reviews__wrapper 
                .reviews__top 
                    h2.reviews__title Мнения наших клиентов
                    .reviews__grades 
                        .reviews__grade.reviews__grade--active
                            .reviews__rat 
                                p 5
                                +icon('star', 20, 20)
                            .reviews__line 
                                +icon('line', 2, 17)
                            p.reviews__rat-all 1228 отзывов
                        .reviews__grade 
                            p.reviews__who Авито
                            p.reviews__many 5.0
                                 +icon('star', 20, 20)
                        .reviews__grade 
                            p.reviews__who 2GIS
                            p.reviews__many 5.0
                                 +icon('star', 20, 20)
                        .reviews__grade 
                            p.reviews__who Яндекс
                            p.reviews__many 5.0
                                 +icon('star', 20, 20)
                ul.reviews__panel 
                    .reviews__tab-list.swiper(data-slider="reviews")
                        .swiper-wrapper 
                            .swiper-slide 
                                .reviews__slide-top 
                                    +icon('avito', 48, 48)
                                    .reviews__user 
                                        p.reviews__name Сергей
                                        p.reviews__day 10 февраля на <a href="#!"> Авито </a> 
                                .reviews__raiting
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20) 
                                p.reviews__reviews-text Это самый дружелюбный и лучший магазин в этом месте. Самая низкая цена, приветливый персонал, год гарантии на устройство Apple от… 
                                a(href="#!").reviews__link Читать дальше
                            .swiper-slide 
                                .reviews__slide-top 
                                    +icon('avito', 48, 48)
                                    .reviews__user 
                                        p.reviews__name Сергей
                                        p.reviews__day 10 февраля на <a href="#!"> Авито </a>
                                .reviews__raiting
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20) 
                                p.reviews__reviews-text Это самый дружелюбный и лучший магазин в этом месте. Самая низкая цена, приветливый персонал, год гарантии на устройство Apple от… 
                                a(href="#!").reviews__link Читать дальше
                            .swiper-slide 
                                .reviews__slide-top 
                                    +icon('avito', 48, 48)
                                    .reviews__user 
                                        p.reviews__name Сергей
                                        p.reviews__day 10 февраля на <a href="#!"> Авито </a>
                                .reviews__raiting
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20) 
                                p.reviews__reviews-text Это самый дружелюбный и лучший магазин в этом месте. Самая низкая цена, приветливый персонал, год гарантии на устройство Apple от… 
                                a(href="#!").reviews__link Читать дальше
                            .swiper-slide 
                                .reviews__slide-top 
                                    +icon('avito', 48, 48)
                                    .reviews__user 
                                        p.reviews__name Сергей
                                        p.reviews__day 10 февраля на <a href="#!"> Авито </a>
                                .reviews__raiting
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20) 
                                p.reviews__reviews-text Это самый дружелюбный и лучший магазин в этом месте. Самая низкая цена, приветливый персонал, год гарантии на устройство Apple от… 
                                a(href="#!").reviews__link Читать дальше
                            .swiper-slide 
                                .reviews__slide-top 
                                    +icon('avito', 48, 48)
                                    .reviews__user 
                                        p.reviews__name Сергей
                                        p.reviews__day 10 февраля на <a href="#!"> Авито </a>
                                .reviews__raiting
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20)
                                    +icon('star', 20, 20) 
                                p.reviews__reviews-text Это самый дружелюбный и лучший магазин в этом месте. Самая низкая цена, приветливый персонал, год гарантии на устройство Apple от… 
                                a(href="#!").reviews__link Читать дальше
                    .reviews__buttons 
                        .swiper-button-next.reviews__next
                            +icon('arrow-left', 120, 120) 
                        .swiper-button-prev.reviews__prev
                            +icon('arrow-left', 120, 120)