mixin stock1()
    section.stock1 
        .container 
            .stock1__wrapper 
                h2.stock1__title Акции
                .stock1__box 
                    .stock1__item 
                        .stock1__image 
                            img(src="img/content/week.png" alt="прибор")
                        span Бессрочная акция
                        p.stock1__text Бесплатная доставка в пределах МКАД и КАД при заказе от трех аксессуаров
                    .stock1__item 
                        .stock1__image 
                            img(src="img/content/week.png" alt="прибор")
                        span Бессрочная акция
                        p.stock1__text Бесплатная доставка в пределах МКАД и КАД при заказе от трех аксессуаров
                    .stock1__item 
                        .stock1__image 
                            img(src="img/content/week.png" alt="прибор")
                        span Бессрочная акция
                        p.stock1__text Бесплатная доставка в пределах МКАД и КАД при заказе от трех аксессуаров
