mixin tech()
    section.tech 
        .container 
            .tech__wrapper 
                .swiper-button-prev.tech__prev
                    +icon('arrow-left', 120, 120) 
                .tech__slider.swiper(data-slider="tech")
                    .swiper-wrapper 
                        .swiper-slide.tech__big 
                            .tech__info
                                p.tech__text Техника Apple <br>по доступным ценам 
                                .tech__block-text 
                                    p iPhone
                                    p iPad
                                    p AirPods
                                    p Mac
                                    p Apple Watch
                            .tech__image 
                                img(src="img/content/tech1.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Смартфоны Samsung  
                            .tech__image 
                                img(src="img/content/tech2.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Смартфоны Samsung  
                            .tech__image 
                                img(src="img/content/tech2.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text MacBook  
                            .tech__image 
                                img(src="img/content/tech3.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Наушники
                            .tech__image 
                                img(src="img/content/tech4.png" alt="Смартфон")
                        .swiper-slide.tech__big 
                            .tech__info
                                p.tech__text Техника Apple <br>по доступным ценам 
                                .tech__block-text 
                                    p iPhone
                                    p iPad
                                    p AirPods
                                    p Mac
                                    p Apple Watch
                            .tech__image 
                                img(src="img/content/tech1.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Смартфоны Samsung  
                            .tech__image 
                                img(src="img/content/tech2.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Смартфоны Samsung  
                            .tech__image 
                                img(src="img/content/tech2.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text MacBook  
                            .tech__image 
                                img(src="img/content/tech3.png" alt="Смартфон")
                        .swiper-slide.tech__small 
                            .tech__info
                                p.tech__text Наушники
                            .tech__image 
                                img(src="img/content/tech4.png" alt="Смартфон")
                .swiper-button-next.tech__next
                    +icon('arrow-left', 120, 120)         
                        
