.reviews {
    overflow: hidden;
    &__wrapper {
        padding: 50px 0;

        @include vp-767 {
            padding: 30px 0;
        }
    }

    &__top {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: 'VelaSans';
        font-size: 36px;
        line-height: 120%;
        font-weight: 600;
        color: rgba(23, 23, 23, 1);
        margin: 0 0 50px; 

        @include vp-1023 {
            margin-bottom: 20px;
        }

        @include vp-767 {
            font-size: 28px;
        }
    }

    &__grades {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: rgba(246, 246, 246, 1);
        width: max-content;
        border-radius: 8px;
        padding: 6px 20px 6px 6px;
        gap: 13px;
        img {
            flex-shrink: 0
        }

        @media screen and (max-width: 620px) {
            flex-wrap: wrap;
            width: 100%;
        }
    } 

    .reviews__grade {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
    }

    .reviews__grade--active {
        background: rgba(255, 255, 255, 1);
        gap: 8px;
        padding: 4px 12px;
        border-radius: 5px;
    }

    .reviews__rat {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: 'VelaSans';
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin: 0;
    }

    .reviews__rat p {
        margin: 0;
    }

    .reviews__line {
        display: flex;
        svg {
            width: 2px;
            height: 17px;
        }
    }

    .reviews__rat-all {
        font-family: 'VelaSans';
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin: 0;
    }

    .reviews__who {
        font-family: 'VelaSans';
        font-weight: 500;
        font-style: Medium;
        font-size: 15.5px;
        leading-trim: NONE;
        line-height: 16px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin: 0;
    }

    .reviews__many {
        font-family: 'VelaSans';
        font-weight: 500;
        font-style: Medium;
        font-size: 15.75px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__tab-buttons {
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 50px;
        @include vp-1023 {
            overflow: visible;
            margin-bottom: 30px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 10px;
        @include vp-1023 {
            gap: 0;
            height: auto;
        }
    }

    .reviews__tab-item.swiper-slide {
        width: auto;
        padding: 0;
        background: none;
    }

    &__tab-btn {
        font-family: 'VelaSans';
        font-size: 16px;
        line-height: 24px;
        color: rgba(23, 23, 23, 1);
        padding: 16px 24px;
        background: rgba(246, 246, 246, 1);
        border-radius: 15px;

        &--active {
            background: rgba(62, 209, 128, 1);
            color: rgba(255, 255, 255, 1);
        }
    }

    &__panel {
        position: relative;
    }

    &__panel-item {
        display: none;
        &--active {
            display: block;
        }
    }

    &__buttons {
        position: absolute;
        display: flex;
        width: 100%;
        top: 40%;
        z-index: 1;
    }
    

    .swiper-button-prev,
    .swiper-button-next {
        margin: 0;
        flex-shrink: 0;
        &::after {
            display: none;
        }

        transition: .3s;
        svg {
            width: 120px;
            height: 120px;
            transition: .3s;
            flex-shrink: 0;
        }

        &:hover {
           opacity: 0.7;
        }
    }

    .swiper-button-prev {
        left: -10px;
    }
    
    .swiper-button-next {
        right: -10px;
        svg {
            transform: rotate(-180deg);
        }
    }

    &__tab-list.swiper {
        width: 100%;
        overflow: hidden;

        @media screen and (max-width: 910px) {
            overflow: visible;
        }
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-slide {
        width: 375px;
        display: flex;
        flex-direction: column;
        background: rgba(246, 246, 246, 1);
        border-radius: 15px;
        padding: 20px;

        @media screen and (max-width: 420px) {
            width: 100%;
        }
    }

    &__slide-top {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
        svg {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
        }
    }

    &__name {
        font-family: 'VelaSans';
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        color: rgba(23, 23, 23, 1);
        margin: 0 0 5px;
    }

    &__day {
        font-family: 'VelaSans';
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        color: rgba(23, 23, 23, 1);
        margin: 0;

        a {
            display: inline;
            color: rgba(14, 193, 47, 1);
            text-decoration: underline;
        }
    }

    &__raiting {
        margin-bottom: 15px;
    }

    &__reviews-text {
        font-family: 'VelaSans';
        font-size: 14px;
        line-height: 150%;
        color: rgba(87, 87, 87, 1);
        margin: 0 0 20px;
    }

    &__link {
        font-family: 'VelaSans';
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        color: rgba(23, 23, 23, 1);
        transition: .3s;

        &:hover {
            opacity: 0.8;
        }
    }

    .swiper-pagination.reviews__pagination {
        position: static;
        display: flex;    
        justify-content: center; 
        margin: 22px 0 0; 
        gap: 16px;
        .swiper-pagination-bullet {
            width: 4px; 
            height: 4px; 
            background-color: rgba(23, 23, 23, 0.5); 
            border-radius: 50%;
            margin: 0; 
            padding: 0;
            border: none;
            transition: background-color 0.3s; 
            flex-shrink: 0;
            &.swiper-pagination-bullet-active {
                width: 8px;
                height: 8px;
                background-color: rgba(23, 23, 23, 1); 
            }
        }
    }
}