.select {
    overflow: hidden;
    &__wrapper {
        margin: 50px 0;
        width: 100%;
        @include vp-767 {
            padding: 20px 0;
        }
    }

    &__top {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 990px) {
            flex-direction: column;
            margin-bottom: 30px;
            align-items: flex-start;
        }
    }

    &__title {
        font-family: 'VelaSans';
        font-size: 36px;
        line-height: 120%;
        font-weight: 600;
        color: rgba(23, 23, 23, 1);
        margin: 0; 

        @media screen and (max-width: 990px) {
            font-size: 28px;
            margin-bottom: 25px;
        }
    }

    &__tab-buttons {
        display: flex;
        gap: 5px;
        background: rgba(246, 246, 246, 1);
        width: auto;
        border-radius: 10px;
        padding: 5px;
        @media screen and (max-width: 990px) {
            flex-wrap: wrap;
        }
    }

    &__tab-btn {
        font-family: 'VelaSans';
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(153, 153, 153, 1);
        padding: 6px 20px;
        &--active {
            color: rgba(23, 23, 23, 1);
            font-weight: 600;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            background: rgba(255, 255, 255, 1);
            padding: 6px 20px;
            border-radius: 7px;
        }
    }

    &__panel-item {
        display: none;
        &--active {
            display: block;
        }
    }

    &__tab-list {
        padding: 25px 5px;
        overflow: visible;
        width: 100%;
        @media screen and (max-width: 1190px) {
            width: 100%;
            height: 100%;
            overflow: visible;
            margin-bottom: 0;
        }
    }

    &__slider-list {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        @media screen and (max-width: 1190px) {
            display: flex;
            gap: 0;
        }
    }

    .swiper-pagination.tab-pagination {
        position: static;
        display: none;    
        justify-content: center; 
        margin: 20px 0 30px; 
        gap: 16px;
        .swiper-pagination-bullet {
            width: 4px; 
            height: 4px; 
            background-color: rgba(23, 23, 23, 0.5); 
            border-radius: 50%;
            margin: 0; 
            padding: 0;
            border: none;
            transition: background-color 0.3s; 
            flex-shrink: 0;
            &.swiper-pagination-bullet-active {
                width: 8px;
                height: 8px;
                background-color: rgba(88, 88, 88, 1); 
            }
        }

        @media screen and (max-width: 1340px) {
            display: flex;
        }

    }

    &__tab-content {
        max-width: 320px;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        transition: .3s;
        border-radius: 15px;
        position: relative;
        z-index: 0;
        a {
            display: flex;
            flex-direction: column;
        }

        &:hover {
            box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
            z-index: 2;
            .select__dop {
                position: absolute;
                z-index: 1;
                bottom: -100px;
                left: 0;
                opacity: 1;
                visibility: visible;
                background: rgba(245, 245, 245, 0.99);
                box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
                width: 100%;
                padding: 15px;
                border-radius: 0 0 15px 15px;
            }

            .select__icons {
                opacity: 1;
                visibility: visible;
            }
        }

        @media screen and (max-width: 1300px) {
            max-width: 290px;
        }

        @media screen and (max-width: 1190px) {
            width: auto;
            max-width: 280px;
        }

        @media screen and (max-width: 500px) {
            box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
        }

        @include vp-389 {
            max-width: 320px;
        }
    }

    &__card-top {
        display: flex;
        align-items: start;
        gap: 5px;
        margin-bottom: 20px;
    }

    &__icons {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        top: 40px;
        right: 10px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        button {
            transition: .3s;
            svg {
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                transition: .3s;
            }
        }
    }

    &__card-top-text {
        font-family: 'VelaSans';
        font-size: 8px;
        line-height: 150%;
        margin: 0;
        padding: 6px 16px;
        border-radius: 7px;
    }

    &__card-top-text.orange {
        color: rgba(236, 119, 79, 1);
        background: rgba(251, 236, 230, 1);
    }

    &__card-top-text.aqua {
        color: rgba(82, 174, 186, 1);
        background: rgba(223, 247, 249, 1);
    }

    &__card-top-text.purple  {
        color: rgba(140, 36, 245, 1);
        background: rgba(240, 230, 253, 1);
    }

    &__card-top-text.green {
        color: rgba(78, 134, 44, 1);
        background: rgba(215, 239, 183, 1);
    }

    &__slider {
        width: 220px;
        margin: 0 auto;
    }

    .swiper-wrapper {
        height: auto;
    }

    &__slide {
        width: 100%;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .swiper-pagination.select__pagination {
        position: static;
        display: flex;    
        justify-content: center; 
        margin: 22px 0; 
        gap: 16px;
        .swiper-pagination-bullet {
            width: 4px; 
            height: 4px; 
            background-color: rgba(23, 23, 23, 0.5); 
            border-radius: 50%;
            margin: 0; 
            padding: 0;
            border: none;
            transition: background-color 0.3s; 
            flex-shrink: 0;
            &.swiper-pagination-bullet-active {
                width: 8px;
                height: 8px;
                background-color: rgba(23, 23, 23, 1); 
            }
        }
    }

    &__tab-text {
        font-family: 'VelaSans';
        font-size: 14px;
        line-height: 19px;
        color: rgba(23, 23, 23, 1);
        margin: auto 0 20px;
        flex: 1;
    }

    &__nal {
        font-family: 'VelaSans';
        font-weight: 400;
        font-style: Regular;
        font-size: 8px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(153, 153, 153, 1);
    }

    &__prices {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
    }

    &__new-price {
        font-family: 'VelaSans';
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        margin: 0;
        color: rgba(23, 23, 23, 1);
    }

    &__old-price {
        font-family: 'VelaSans';
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        color: rgba(124, 128, 135, 1);
        text-decoration: line-through;
    }

    &__info {
        display: flex;
        gap: 10px;
    }

    &__have {
        font-family: 'VelaSans';
        font-size: 12px;
        line-height: 15px;
        color: rgba(62, 209, 128, 1);
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 1px dashed rgba(62, 209, 128, 1);
    }

    &__have.not {
        color: rgba(153, 153, 153, 1);
        border-bottom: 1px dashed rgba(153, 153, 153, 1);
    }

    &__have::before {
        content: '';
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: rgba(62, 209, 128, 1);
    }

    &__have.not::before {
        background: rgba(153, 153, 153, 1);
    }

    &__articul {
        font-family: 'VelaSans';
        font-size: 12px;
        line-height: 20px;
        color: rgba(153, 153, 153, 1);
        margin: 0;
    }

    &__big-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 50px;

        @include vp-1023 {
            display: block;
            margin-bottom: 0;
        }
    }

    &__big-image {
        position: relative;
        width: 100%;
        height: 820px;
        overflow: hidden;
        border-radius: 20px;
        aspect-ratio: 1/1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include vp-1023 {
            height: 450px;
        }

        @include vp-767 {
            height: auto;
        }

        @media screen and (max-width: 500px) {
            height: 500px;
        }
    }

    &__big-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .select__big-text,
        .select__big-text-mobile {
            font-family: 'VelaSans';
            font-size: 36px;
            font-weight: 600;
            line-height: 120%;
            color: rgba(23, 23, 23, 1);
            margin: 0;
            max-width: 327px;

            @include vp-767 {
                display: none;
            }
        }

        .select__big-text-mobile {
            display: none;
            @include vp-767 {
                display: block;
                font-size: 24px;
            }
        }

        a {
            max-width: 224px;
            width: 100%;
            background: rgba(23, 23, 23, 1);
            font-family: 'VelaSans';
            font-size: 16px;
            line-height: 150%;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 50px;
            transition: .3s;
            
            &:hover {
                color: rgba(23, 23, 23, 1);
                background: rgba(255, 255, 255, 1);
            }

            @include vp-767 {
                margin-bottom: 20px;
            }

            @include vp-389 {
                max-width: 100%;
            }
        }

        @include vp-767 {
            padding: 20px 20px 0;
        }
    }

    &__slide-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px 16px;

        .select__tab-content:nth-child(3n) {
            @include vp-1279 {
                display: none;
            }
        }

        @include vp-1279 {
            grid-template-columns: 1fr 1fr;
        }
       

        @include vp-1023 {
            display: none;
        }
    }

    &__catalog {
        max-width: 220px;
        width: 100%;
        border: 1px solid rgba(23, 23, 23, 1);
        font-family: 'VelaSans';
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        color: rgba(23, 23, 23, 1);
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        transition: .3s;
        &--mobile {
            display: none;
        }
        &:hover {
            opacity: 0.8;
        }

        // @include vp-1023 {
        //     display: none;
        //     &--mobile {
        //         display: block;
        //         margin: 0 auto 30px;
        //     }
        // }

        @include vp-389 {
            max-width: 100%;
        }
    }

    .another-select {
        margin-bottom: 40px;
        // @include vp-1023 {
        //     display: none;
        // }
    }

    &__dop {
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__dop-text {
        background: rgba(239, 252, 223, 1);
        border-radius: 9px;
        padding: 4px 0 6px 12px;
        margin-bottom: 6px;
        p {
            font-family: 'VelaSans';
            font-weight: 600;
            font-style: SemiBold;
            font-size: 11px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            margin: 0 0 3px;
        }

        span {
            font-family: 'VelaSans';
            font-weight: 600;
            font-style: SemiBold;
            font-size: 8px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: rgba(153, 153, 153, 1);
            display: block;
        }
    }

    &__more {
        display: flex;
        gap: 6px;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
        background: rgba(248, 248, 248, 1);
        padding: 12px;
        border-radius: 10px;
    }

    .select__input-minus {
        display: flex;
        svg {
            width: 11px;
            height: 2px;
            flex-shrink: 0;
        }
    }

    .select__input-plus {
        display: flex;
        svg {
            width: 11px;
            height: 11px;
            flex-shrink: 0;
        }
    }

    &__num {
        font-family: 'VelaSans';
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    &__card {
        width: 100%;
        display: block;
        background: rgba(62, 209, 128, 1);
        color: rgba(255, 255, 255, 1);
        font-family: 'VelaSans';
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        padding: 12px;
        border-radius: 10px;
        transition: .3s;
    }

    &__card:hover {
        opacity: 0.8;
    }
}

.select.smartphone {
    .select__title {
        margin-bottom: 0;
    }
    .select__big-block {
        .select__big-image {
            grid-column: 2;
            grid-row: 1;
        }

        .select__big-content {
            grid-column: 1;
            grid-row: 1;
        }

        @include vp-1023 {
            display: none;
        }
    }

    .select__catalog--mobile {
        margin-bottom: 0;
    }
    
}