.stock1 {
    overflow: visible;

    &__wrapper {
        padding: 40px 0;
    }

    &__title {
        font-family: 'VelaSans';
        font-weight: 600;
        font-style: SemiBold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        margin: 0 0 50px;

        @include vp-767 {
            font-size: 28px;
            margin-bottom: 25px;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 20px;
        @include vp-767 {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        aspect-ratio: 375/220;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        span {
            font-family: 'VelaSans';
            font-weight: 400;
            font-style: Regular;
            font-size: 8px;
            leading-trim: NONE;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            display: block;
            background-color: rgba(248, 248, 248, 1);
            padding: 3px 10px;
            border-radius: 5px;
            margin-bottom: 6px;
            width: max-content;
            color: rgba(153, 153, 153, 1);
        }
    }

    &__text {
        font-family: 'VelaSans';
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0.28px;
        vertical-align: bottom;
        max-width: 326px;
        margin: 0;

        @include vp-767 {
            max-width: 100%;
        }
    }
}