mixin footer()
  footer.footer
    .container 
      .footer__wrapper 
        .footer__top 
          .footer__left 
            a(href="#!").footer__logo 
              img(src="img/content/footer-logo.png" alt="Логотип в подвале" width="131" height="62")
            .footer__catalog
              h3.footer__name Каталог
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link iPhone
                li.footer__item 
                  a(href="#!").footer__link iPad
                li.footer__item 
                  a(href="#!").footer__link Mac
                li.footer__item 
                  a(href="#!").footer__link Apple Watch
                li.footer__item 
                  a(href="#!").footer__link Samsung
                li.footer__item 
                  a(href="#!").footer__link DJI
                li.footer__item 
                  a(href="#!").footer__link Nothing
            .footer__buyer
              h3.footer__name Покупателям
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Оплата
                li.footer__item 
                  a(href="#!").footer__link Доставка
                li.footer__item 
                  a(href="#!").footer__link Гарантия
                li.footer__item 
                  a(href="#!").footer__link Вопрос-ответ
            .footer__info 
              h3.footer__name Информация
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Политика
                li.footer__item 
                  a(href="#!").footer__link Правила
                li.footer__item.footer__item--big 
                  a(href="#!").footer__link.footer__link--big Блог
                li.footer__item.footer__item--big   
                  a(href="#!").footer__link.footer__link--big О компании
            .footer__big-link 
              .footer__item 
                a(href="#!").footer__link-big Блог
              .footer__item  
                a(href="#!").footer__link-big О компании
          .footer__right 
            ul.footer__contacts 
              li.footer__contacts-item 
                .footer__contacts-email
                  span E-mail
                  a(href="mailto:sell@cordstore.ru") sell@cordstore.ru
                .footer__contacts-phone
                  span Телефон
                  a(href="tel:+79339003343") +7 (977) 000-45-03
                  a(href="tel:+79339003343") +7 (933) 900-33-43
              li.footer__contacts-item 
                span Адрес
                p г. Москва, ул. Барклая, д 10, ТЦ "Багратионовский", 1-й этаж, магазин А-27 
            .footer__social 
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('footer1', 15, 15)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('footer2', 15, 15)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('footer3', 15, 15)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('footer4', 15, 15)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('footer5', 15, 15)
        .footer__bottom 
          .footer__bottom-info 
            p.footer__bottom-text 2025 © Интернет-магазин Cord Store. Сайт носит сугубо информационный характер и не является публичной офертой, определяемой Статьей 437 (2) ГК РФ. Apple, логотип Apple и изображения Apple являются зарегистрированными товарными знаками компании Apple Inc. в США и других странах. App Store является знаком обслуживания компании Apple Inc. Instagram принадлежит компании Meta, признанной экстремистской организацией и запрещенной в РФ.
            .footer__bottom-pay 
              +icon('pay1', 15, 15) 
              +icon('pay2', 15, 15) 
              +icon('pay3', 15, 15) 
              +icon('pay4', 15, 15) 
              +icon('pay5', 15, 15) 
              +icon('pay6', 15, 15) 
              +icon('pay7', 15, 15) 
              +icon('pay8', 15, 15) 
              +icon('pay9', 15, 15) 
              +icon('pay10', 15, 15) 
              +icon('pay11', 15, 15) 
              +icon('pay12', 15, 15) 
              +icon('pay13', 15, 15)    
          a(href="#!").footer__bottom-logo 
            +icon('clinik', 48, 36)
            p Сделано в «Клинике доброго <br>маркетолога»