mixin footer()
  footer.footer
    .container 
      .footer__wrapper 
        .footer__top 
          .footer__left 
            a(href="/").footer__logo 
              img(src="img/content/logo-w.png" alt="Логотип в подвале" width="131" height="62")
            .footer__catalog
              h3.footer__name Каталог
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Смартфоны
                li.footer__item 
                  a(href="#!").footer__link Планшеты
                li.footer__item 
                  a(href="#!").footer__link Ноутбуки и компьютеры
                li.footer__item 
                  a(href="#!").footer__link Умные часы
                li.footer__item 
                  a(href="#!").footer__link Аудио
                li.footer__item 
                  a(href="#!").footer__link Игровые консоли
                li.footer__item 
                  a(href="#!").footer__link Фото и видео
                li.footer__item 
                  a(href="#!").footer__link Для дома
            .footer__brend 
              h3.footer__name Бренды
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Apple
                li.footer__item 
                  a(href="#!").footer__link Samsung
                li.footer__item 
                  a(href="#!").footer__link Sony
                li.footer__item 
                  a(href="#!").footer__link Microsoft
                li.footer__item 
                  a(href="#!").footer__link Valve
                li.footer__item 
                  a(href="#!").footer__link Xiaomi
                li.footer__item 
                  a(href="#!").footer__link Dyson
            .footer__buyer
              h3.footer__name Наш сервис
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Оплата
                li.footer__item 
                  a(href="#!").footer__link Возврат и обмен
                li.footer__item 
                  a(href="#!").footer__link Доставка
                li.footer__item 
                  a(href="#!").footer__link Гарантия на продукцию
                li.footer__item 
                  a(href="#!").footer__link Частые вопросы
                li.footer__item 
                  a(href="#!").footer__link Акции
                li.footer__item 
                  a(href="#!").footer__link Trade-in
            .footer__info 
              h3.footer__name О компании
              ul.footer__list 
                li.footer__item 
                  a(href="#!").footer__link Политика обработки ПД
                li.footer__item 
                  a(href="#!").footer__link Договор оферты
                li.footer__item 
                  a(href="#!").footer__link Бренды
                li.footer__item
                  a(href="#!").footer__link Отзывы о нас
                li.footer__item
                  a(href="#!").footer__link Сотрудничество
                li.footer__item
                  a(href="#!").footer__link Блог
                li.footer__item
                  a(href="#!").footer__link О компании
          .footer__right 
            ul.footer__contacts 
              li.footer__contacts-item 
                .footer__contacts-email
                  span E-mail
                  a(href="mailto:sell@cordstore.ru") sell@cordstore.ru
                .footer__contacts-phone
                  span Телефон
                  a(href="tel:+79339003343") +7 (977) 000-45-03
                  a(href="tel:+79339003343") +7 (933) 900-33-43
                .footer__contacts-item 
                  span Адрес
                  p г. Москва, ул. Барклая, д 10, ТЦ "Багратионовский", 1-й этаж, магазин А-27 
            .footer__social 
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('f1', 39, 39)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('f2', 39, 39)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('f3', 39, 39)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('f4', 39, 39)
              a(href="#!")
                .footer__social-bg 
                  img(src="img/sprite/footer-bg.svg")
                  +icon('f5', 39, 39)
        .footer__bottom 
          .footer__bottom-info 
            p.footer__bottom-text 2025 © Интернет-магазин Cord Store. Сайт носит сугубо информационный характер и не является публичной офертой, определяемой Статьей 437 (2) ГК РФ. Apple, логотип Apple и изображения Apple являются зарегистрированными товарными знаками компании Apple Inc. в США и других странах. App Store является знаком обслуживания компании Apple Inc. Instagram принадлежит компании Meta, признанной экстремистской организацией и запрещенной в РФ.
          a(href="#!").footer__bottom-logo 
            +icon('dm', 46, 34)
            p Сделано в "Клинике доброго <br>маркетолога"