//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/icon-img
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks


include ./blocks/form
include ./blocks/intro
include ./blocks/banners-block
include ./blocks/select
include ./blocks/another-select
include ./blocks/models
include ./blocks/services
include ./blocks/blog
include ./blocks/reviews
include ./blocks/address
include ./blocks/tech
include ./blocks/select1
include ./blocks/week
include ./blocks/stock
include ./blocks/stock1
include ./blocks/limit
include ./blocks/game
include ./blocks/home
include ./blocks/home2
include ./blocks/care
include ./blocks/above

//- Mixins

include ./mixins/btn
include ./mixins/custom-checkbox
include ./mixins/custom-input
include ./mixins/custom-radio
include ./mixins/custom-select
include ./mixins/custom-textarea
